* {
    font-family: 'Work Sans', sans-serif;
}

/* Header and Nav bar Style */
body {
    width: 100%;
}

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 80px;
}

header nav h1 {
    /* G3 Architects */
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

/* Banner Style */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.banner-images {
    /* Rectangle 12 */
    width: 100%;
    margin-top: 15px;
}

/* Main part style */

main {
    width: 85%;
    margin: 0 auto;
}

/* Section 1 Style */

.section1-teams-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.teams-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 50%;
}

.teams-images {
    width: 100%;

}

.teams-content-container {
    width: 50%;
    /* background-color: brown; */
    padding-left: 70px;
    padding-right: 30px;
}

.teams-content-title {
    width: 468px;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}

.teams-content-description {
    width: 537px;
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -20px;
}

.quick-list {
    color: rgb(114, 114, 114);
}

.features {
    color: rgb(255, 144, 14);
}






/* Responsive Style For Small Device */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/* Responsive Style For Medium Device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}